address = "https://gitlab.com/api/v4/projects/replace-with-gitlab-project-id/terraform/state/replace-with-gitlab-state-name"
lock_address = "https://gitlab.com/api/v4/projects/replace-with-gitlab-project-id/terraform/state/replace-with-gitlab-state-name/lock"
unlock_address = "https://gitlab.com/api/v4/projects/replace-with-gitlab-project-id/terraform/state/replace-with-gitlab-state-name/lock"
username = "replace-with-gitlab-username"
lock_method = "POST"
unlock_method = "DELETE"
retry_wait_min = 5
